################################################################################
# File        : .gitignore
# Author      : Michael Wurm <wurm.michael95@gmail.com>
# Description : Local SDK gitignore file
################################################################################

**/*.o
**/*.d
**/*.a
.metadata
RemoteSystemsTempFiles
**/Debug/
**/Release/
**/webtalk/

.sdk/
